You are calling a static method through an instance.
Static methods should be called by the class they belong to rather than by an instance.
Calling a method through an instance implies that you are acting on a particular object rather than with its class.