<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2 class="course-title"><%= link_to @course.title, @course %></h2>
      <%= render 'teachers_panel', {course: @course} %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'controls' %>
  </div>
</div>
