<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2 class="course-title"><%= link_to @course.title, @course %></h2>
      <h5><%= icon 'user' %> <%= @course.teacher.name %></h5>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'controls' %>
  </div>
</div>
