<tr class="nested-fields">
  <td>
    <%= collection_select("course[teachers_attributes][#{f.options[:child_index]}]",
          :teacher_id,
          all_users,
          :id,
          :name,
          { prompt: true,
            selected: f.object.id },
          { class: 'form-control' }) %>
  </td>
  <td>
    <%= link_to_remove_association f do |link| %>
      <div class="col-md-10 col-md-offset-2">
        <%= icon 'minus-circle' %> Remove
        <hr />
      </div>
    <% end %>
  </td>
</tr>
