# Requires Docker v 1.12 or above
# The grader compose file lists all grader services available. It is meant to be composed with the core system or the test system
version: '2'
services:
  rng-tool:
    build: rng-tool/
    env_file: .env.rng.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
    ports:
      - "3001:3000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "rng"
    depends_on:
      - syslog
  config-tool:
    build: sample-configurable-tool/
    env_file: .env.conf.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
    ports:
      - "3002:3000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "config-tool"
    depends_on:
      - syslog
  javac-tool:
    build: javac-tool/
    env_file: .env.javac.list # NEXUS_TOOL_CANONICAL_NAME, NEXUS_ACCESS_TOKEN, and possibly NEXUS_SUB_DIR
    environment:
      NEXUS_BASE_URL: http://nexus:3000
    ports:
      - "3003:5000"
    volumes:
      - ./javac_data:/home/app/submissions
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "javac-tool"
    depends_on:
      - syslog
  io-grader:
    build: io-grader/
    env_file: .env.iograder.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MYSQL_HOST: mysql-iograder
    ports:
      - "3004:5000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "io-grader"
    depends_on:
      - syslog
      - mysql-iograder
  mysql-iograder:
    image: mysql:5.7
    env_file: .env.iograder.list
    volumes:
      - ./iograder_data:/var/lib/mysql
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "iograder-db"
  peer-feedback:
    build: peerfeedback
    env_file: .env.peerfeedback.list
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MONGO_HOST: mongodb
      DOCKER_PORT: "3005"
    ports:
      - "3005:3050"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "peer-feedback"
    depends_on:
      - syslog
      - mongodb
  mongodb:
    image: mongo:3.6
    volumes:
      - ./mongodata:/data/db
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "mongodb"
    depends_on:
      - syslog
  junit-grader:
    build:
      context: junit-grader/
      args:
        - CACHEBUST
    env_file: .env.junit.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MYSQL_HOST: "mysql-junit"
    ports:
      - "3006:5000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "junit"
    depends_on:
      - syslog
      - mysql-junit
  mysql-junit:
    image: mysql:5.7
    # ports:
    #   - 3306:3306
    env_file: .env.junit.list
    volumes:
      - ./junit_data:/var/lib/mysql
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "junit-db"
  cpp-compilation:
    build: cpp-compilation/
    env_file: .env.cppcompilation.list # NEXUS_TOOL_CANONICAL_NAME, NEXUS_ACCESS_TOKEN, and possibly NEXUS_SUB_DIR
    environment:
      NEXUS_BASE_URL: http://nexus:3000
    ports:
      - "3007:5000"
    volumes:
      - ./cpp-compilation_data:/home/app/submissions
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "cpp-compilation"
    depends_on:
      - syslog
  cpp-iograder:
    build: cpp-iograder/
    env_file: .env.cppiograder.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MYSQL_HOST: mysql-cpp-iograder
    ports:
      - "3008:5000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "cpp-iograder"
    depends_on:
      - syslog
      - mysql-cpp-iograder
  mysql-cpp-iograder:
    image: mysql:5.7
    env_file: .env.cppiograder.list
    volumes:
      - ./cpp-iograder_data:/var/lib/mysql
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "cpp-iograder-db"
  cppunit-grader:
    build:
      context: cppunit-grader/
      args:
        - CACHEBUST
    env_file: .env.cppunit.list # NEXUS_TOOL_CANONICAL_NAME and NEXUS_ACCESS_TOKEN
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MYSQL_HOST: "mysql-cppunit"
    ports:
      - "3015:5000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "cppunit"
    depends_on:
      - syslog
      - mysql-cppunit
  mysql-cppunit:
    image: mysql:5.7
    # ports:
    #   - 3306:3306
    env_file: .env.cppunit.list
    volumes:
      - ./cppunit_data:/var/lib/mysql
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "cppunit-db"