# Requires Docker v 1.12 or above
# The compose file for the core system. To be supplemented with appropriate grader definitons from the grader docker-compose file
version: '2'
services:
  syslog:
    image: voxxit/rsyslog:latest
    ports:
      - "5514:514/udp"
    volumes:
      - ./logs:/var/log
  nexus:
    build:
      context: nexus/
      dockerfile: Dockerfile
    volumes_from:
      - sneakers
    env_file: .env.list
    environment:
      RABBIT_MQ_HOST: rabbitmq
      DOCKER: 1
      NEXUS_UAT_HOST: unique-assignment-tool
      NEXUS_UAT_PORT: 3009
    ports:
      - "3000:3000"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "nexus"
    depends_on:
      - db
      - syslog
      - unique-assignment-tool
      - rabbitmq
      - rng-tool # Need to include in dependencies or it won't get started
      - config-tool # Need to include in dependencies or it won't get started
      - javac-tool # Need to include in dependencies or it won't get started
      - io-tool # Need to include in dependencies or it won't get started
      - peer-feedback # Need to include in dependencies or it won't get started
  db:
    image: postgres:9.5.3
    volumes:
      - ./dbdata:/var/lib/postgresql/data
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "postgres"
    depends_on:
      - syslog
  sneakers:
    build:
      context: nexus/
      dockerfile: Dockerfile
    command: start-sneakers
    volumes:
      - ./nexus:/home/app/src
    env_file: .env.list
    environment:
      RABBIT_MQ_HOST: rabbitmq
      DOCKER: 1
      NEXUS_UAT_HOST: unique-assignment-tool
      NEXUS_UAT_PORT: 3009
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "nexus-sneakers"
    depends_on:
      - db
      - syslog
      - rabbitmq
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "8081:15672" # mgt console
    env_file: .env.list
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "rabbitmq"
    depends_on:
      - syslog
  unique-assignment-tool:
    build: unique-assignment-tool/
    env_file: .env.uat.list
    environment:
      NEXUS_BASE_URL: http://nexus:3000
      MYSQL_HOST: mysql-uat
      PORT: 3009
    ports:
      - "3009:3009"
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "uat"
    depends_on:
      - mysql-uat
  mysql-uat:
    image: mysql
    ports:
      - 3306:3306
    env_file: .env.uat.list
    volumes:
      - ./uat_data:/var/lib/mysql
    logging:
      driver: syslog
      options:
        syslog-address: "udp://localhost:5514"
        tag: "uat-db"
