<div class="error-container">
  <h1>404 - File not found <%= icon 'file-excel-o' %></h1>
  <p>The page you have requested cannot be found</p>
  <%= link_to root_url do %>
    <button class="btn btn-primary">Back to Homepage</div>
  <% end %>
</div>
