<div class="error-container">
  <h1>500 - Internal server error <%= icon 'server' %></h1>
  <p>Something went wrong - please try again or contact a developer</p>
  <%= link_to root_url do %>
    <button class="btn btn-primary">Back to Homepage</div>
  <% end %>
</div>
