<div class="error-container">
  <h1>401 - Unauthorized <%= icon 'lock' %></h1>
  <p>Your account is not authorized to access this page</p>
  <%= link_to root_url do %>
    <button class="btn btn-primary">Back to Homepage</div>
  <% end %>
</div>
