<% a = current_user.admin? ? @course.assignments : @course.assignments.started %>

<h3>Assignments</h3>
<br />
<% if a.empty? %>
  <p>There are currently no assignments for this course.</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th width="20%">Start</th>
        <th width="20%">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% a.each do |a| %>
        <tr>
          <th scope="row"><%= link_to a.title, a %></th>
          <td>
            <%= pretty_datetime a.start %>
          </td>
          <td class="<%= a.decorator_class %>">
            <%= pretty_datetime a.deadline %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
