<% if current_user.eql?(@assignment.course.teacher) %>
  <div class="course-controls">
    <% if @assignment.configurable_tools? %>
      <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'cog' %> Configure Tools</button>
    <% end %>
  </div>
<% end %>
