<% if !@submission.assignment.feedback_only %>
  <h4>Marking Breakdown</h4>
  <% if @submission.extraction_error? %>
  <p>
    Your submission scored 0% because it could not be extracted. Please be sure to only submit a valid ZIP file.
  </p>
  <% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Tool</th>
        <th>Weight</th>
        <th>Mark</th>
      </tr>
    </thead>
    <tbody>
      <% @submission.assignment.marking_tool_contexts.each do |t| %>
      <tr>
        <th scope="row"><%= t.marking_tool.name %></th>
        <td><%= t.weight %>%</td>
        <td><%= display_intermediate_mark(@submission, t.marking_tool) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
