<div class="error-container">
  <h1>422 - Unprocessable entity <%= icon 'question-circle' %></h1>
  <p>The server was unable to understand your request</p>
  <%= link_to root_url do %>
    <button class="btn btn-primary">Back to Homepage</div>
  <% end %>
</div>
