<section>

    <h2>Allocation</h2>
<br/>
<br/>
    For assignment: {{aid}} and student: {{studentuid}} <br/><br/>
Provide for:
    <br/><br/>

    <div ng-repeat="submission in provideTo"><a ui-sref="providerState({aid:{{submission.aid}}, studentuid:{{submission.studentuid}},sid:{{submission.sid}} })">studentuid: {{submission.studentuid}} provide for sid: {{submission.sid}}</a></div>
<br/><br/>

Received from:
    <br/><br/>
    <div ng-repeat="submission in receivedFrom"><a ui-sref="receiverState()">studentuid: {{submission.studentuid}} provided for sid: {{submission.sid}}</a></div>



</section>