<section>

    <h2>Allocation</h2>
<br/>
<br/>
    Allocation for student: {{studentuid}} <br/><br/>

    <br/>



    <div ng-repeat="assignment in allocation">

        For assignment: {{assignment.aid}}
        <br/>
        Provide:
        <div ng-repeat="submission in assignment.provideTo">
            <a ui-sref="providerState({aid:{{submission.aid}}, studentuid:{{studentuid}},sid:{{submission.sid}} })">
                Submission {{submission.sid}} by {{submission.studentuid}}
            </a>
        </div>
        Received:
        <div ng-repeat="submission in assignment.receivedFrom">
            <div ng-repeat="provider in submission.providers">
                <a ui-sref="receiverState({sid:{{submission.sid}}, studentuid: {{provider.provideruid}}})">
                    Submission {{submission.sid}} by {{provider.provideruid}}
                </a>
            </div>
        </div>
        <br/>
    </div>




</section>


