<div class="col-lg-2">
</div>
<div class="col-lg-8 col-md-12 col-sm-12 " >
	<div class="panel panel-primary">
		<div class="panel-heading  text-center">
			<h3>Configure IO Assignment</h3>
		</div>
		<div class="panel-body">
			<!-- BEGIN: Labels -->
			<div id="labelsFiles" class="text-center">
				<label class="col-lg-6 control-label" style="padding-left:0px;">Select Input Files
				</label>
				<label class="control-label col-lg-6" style="padding-left:0px;">Select Output Files
				</label>
			</div>
			<!-- END: Labels -->
			<div ng-repeat="n in listOfIOTests" class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10;">
					<i> Test #{{n}}</i>					
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<textarea placeholder="Input #{{n}}" class="form-control" rows=2 ng-model="inputArray[n]"></textarea>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<textarea placeholder="Output #{{n}}" class="form-control" rows=2 ng-model="outputArray[n]"></textarea>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<textarea placeholder="Description of Test #{{n}} (e.g Special Cases, Guiding Steps, etc.)" class="form-control" rows=3  ng-model="descriptionArray[n]" style="margin-top:10px;"></textarea>
				</div>
				<hr>
			</div>
			<div class="col-lg-12" style="margin-top:10;">
				<label> <a href="" class="fa fa-plus-circle" ng-click="addTest()">&nbsp;Add I/O test </a></label>
			</div> 
			<div class="col-lg-12 form-group">
				<label class="control-label col-lg-12">Select Skeleton File</label>
				<!-- <	input class="col-lg-6" placeholder="ClassName" ng-model="class_name"></input> -->

				<input type="file" on-read-file="displayCodeContents(contents)"/>
				<!-- BEGIN : Java Text Area-->
				<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="areaTextValue" id="textEditor"></ui-codemirror>
				<!-- END : Java Text Area-->
			</div>
		</div>
		<div class="panel-footer text-right clearfix">
			<div ng-hide="loading">
				<button class="btn btn-danger" type="button" ng-click="cancel()"> Cancel </button>
				<button class="btn btn-success" type="button" ng-click="verifyAssingment()"> Verify </button>
			</div>
			<div ng-show="loading" class="col-lg-12">
				<i class="text-center fa fa-spinner fa-spin fa-2x"></i>
			</div>
			<div ng-hide="startProcess">
				<!-- BEGIN: Compilation Errors/Checked -->
				<div ng-show="compileError" class="col-lg-12 col-md-12 col-sm-12 text-left" style="margin-top : 20px;">
					<label><i class="fa fa-times" style="color:red;">&nbsp;</i>Compilation: </label>
					<pre style="color:red">{{errorMessage}}</pre>
				</div>
				<div ng-hide="compileError" class="col-lg-12 col-md-12 col-sm-12 text-left" style="margin-top:20px;">
					<label><i class="fa fa-check" style="color:green;">&nbsp;</i>Compilation </label>
				</div>
				<!-- END: Compilation Error Messages -->
				<!-- BEGIN: Java run Errors/Checked -->
				<div ng-hide="compileError">
					<div class="col-lg-12 col-md-12 col-sm-12 text-left" style="margin-top:20px;">
						<label>
							<i ng-show="allPassed"class="fa fa-check" style="color:green;">&nbsp;</i>
							<i ng-hide="allPassed"class="fa fa-times" style="color:red;">&nbsp;</i>

							Run Java </label>
					</div>
					<table class="table table-striped text-center table-bordered">
						<thead class="text-center">
							<tr>
								<th class="text-center">Index</th>
								<th class="text-center">Passed</th>
								<th class="text-center">Your Output</th>
								<th class="text-center">Expected Output</th>
								<th class="text-center">Message</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="test in table">
								<td>{{$index}}</td>
								<td ng-show="test.passed" style="color:green"><i class="fa fa-check"></i></td>
								<td ng-hide="test.passed" style="color:red"><i class="fa fa-times"</i></td>

								<td>{{test.output}}</td>
								<td>{{test.expectedOutput}}</td>
								<td>{{test.message}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- END: Java run Errors -->
			</div>
		</div>
	</div>
</div>
