<div class="col-lg-2 col-md-0 col-sm-0">
</div>
<div class="col-lg-8 col-md-12 col-sm-0">
    <h1 class="page-header text-center">List of assignments</h1>
    <h3 class="page-header">Type 1 - No input, No output</h3>
    <div>
        <h5 ng-repeat="el in listOne"> <a href="#/assginment/?param={{el._id}}">{{el.title}}</a></h5>
    </div>
    <h3 class="page-header">Type 2 - No input, Output</h3>
    <div>
        <h5 ng-repeat="el in listwo"> <a href="#/assginment/?param={{el._id}}">{{el.title}}</a></h5>
    </div>
    <h3 class="page-header">Type 3 - Input, Output</h3>
    <div>
        <h5 ng-repeat="el in listThree"> <a href="#/assginment/?param={{el._id}}">{{el.title}}</a></h5>
    </div>
</div> 