$border: #e5e5e5;

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

.error-container {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}


.devise-form {
  border: 1px solid $border;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  margin: 0 auto 20px;
  max-width: 700px;
  padding: 20px 30px 30px;
}

.wide-form {
  border: 1px solid $border;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  margin: 0 auto 20px;
  padding: 20px 30px 30px;

  form {
    padding: 10px 0;
  }
}

.right-gravatar {
  float: right;
}

.user-info {
  th,
  td {
    padding: 5px;
  }
}

.center-controls {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.course-title {
  a {
    color: inherit;
  }
}

.course-controls {
  padding-top: 20px;
}

.sub-pane {
  padding: 20px;
}

#web-ide-mount-node {
  .editor-container {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 15px;

    .editor-header {
      background-color: #f7f7f7;
      border-bottom: 1px solid #d8d8d8;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 5px 10px;
    }
  }
}
