<div class="col-lg-2 col-md-0 col-sm-0"></div>
<div class="col-lg-8 col-md-12 col-sm-12">
    <h2 class="page-header text-center">Home Page</h2>
    <div class="col-lg-4 col-md-2 col-sm-0"></div>
    <div class="col-lg-4 col-md-8 col-sm-12 text-center">
        <button type="button" class="btn btn-default input-block-level form-control" ng-click="redirect('/config')">I/O Config Assignment View</button>
        <button type="button" class="btn btn-default input-block-level form-control" ng-click="redirect('/iotool')">I/O Complex/Unique Assignment</button>
        <button type="button" class="btn btn-default input-block-level form-control" ng-click="redirect('/list-assignments')">List of Assingments</button>
    </div>
</div>
