<Section>


    <div class="page-header"><h3>Feedback for {{vm.provider.title.alias}}</h3></div>

    <h3>{{vm.provider.title.alias|firstName}}'s submission:</h3> <br/>

        <div ng-include="'app/templates/provider/submission.tpl'"></div>


    <hr/>
        <div ng-include="'app/templates/provider/feedback.tpl'"></div>
    <br/><br/>


    <button class="btn btn-primary" ng-click="vm.updateFeedback()">Save</button>

    <span ng-hide="{{vm.academic}}">
    <a ui-sref="frameState.allocationState({sid:{{vm.core.providerSid}},token:'{{vm.auth.token}}'})">
        <button class="btn btn-primary">Back</button>
    </a>
    </span>

    <span ng-show="{{vm.academic}}">
    <a ui-sref="frameState.academicState({aid:'{{vm.core.aid}}',token:'{{vm.auth.token}}',email:'{{vm.auth.email}}'})">
    <button class="btn btn-primary">Back</button>
    </a>
    </span>
</Section>
