<Section>


    <!-- vm.core & vm.provider.*-->


    <div class="page-header"><h3>Feedback for {{vm.provider.alias}}</h3></div>

    <h3>{{vm.provider.alias|firstName}}'s submission:</h3> <br/>

    <div ng-show="vm.core.isArchive">
        <a class="btn btn-primary" ng-href="{{vm.core.download}}" download>
            Download submission
        </a>

    </div>

    <div ng-repeat="snippet in vm.submission">
        <h4>{{snippet.fileName}}:</h4>
        <p>
        <div ng-bind-html="snippet.content">
        </div>
        </p>
        <br/>
    </div>

    <hr/>
    <h4>Please provide the following feedback:</h4>



    <p><form render-form current-form="vm.provider.currentForm" disable="vm.readOnly"></form></p>

    Please indicate how well you think the student performed:

    <span uib-rating ng-model="vm.mark.rate" max="vm.mark.max" read-only="vm.mark.isReadonly"
          on-hover="vm.mark.hoveringOver(value)" on-leave="vm.mark.overStar = null"
          aria-labelledby="default-rating"></span>
    <span class="label"
          ng-class="{'label-warning': vm.mark.percent<30, 'label-info': vm.mark.percent>=30 && vm.mark.percent<70, 'label-success': vm.mark.percent>=70}"
          ng-show="vm.mark.overStar && !vm.mark.isReadonly">{{vm.mark.percent}}%</span>


    <br/><br/>
    <button class="btn btn-primary" ng-click="vm.updateFeedback()">Save</button>

    <a ui-sref="frameState.allocationState({sid:{{vm.core.providerSid}},token:'{{vm.core.token}}'})">
        <button class="btn btn-primary">Back</button>
    </a>

</Section>
