<table class="table table-condensed">
	<thead>
		<tr>
			<th>
				Token
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<code>%{aid}</code>
			</td>
			<td>
				Assignment ID
			</td>
		</tr>
		<tr>
			<td>
				<code>%{sid}</code>
			</td>
			<td>
				Submission ID
			</td>
		</tr>
		<tr>
			<td>
				<code>%{repo}</code>
			</td>
			<td>
				Git clone URL of submission
			</td>
		</tr>
		<tr>
			<td>
				<code>%{sha}</code>
			</td>
			<td>
				Commit hash (SHA-1) of submission
			</td>
		</tr>
	</tbody>
</table>
