<div class="wide-form">
  <h2>Create Access Token</h2>
  <hr />
  <%= form_for(@access_token, url: create_access_token_path) do |f| %>
    <div class="form-group">
      <%= f.text_field :description, class: 'form-control', placeholder: 'Description (Optional)' %>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
